<form class="form-signin" method="post" style="text-align: center">{% csrf_token %}

    <nav style="border: 2px solid #000">
  <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>

  <input type="email" name="email" id="inputEmail"  style="text-align: center;display: block; margin-bottom: 10px;  margin-right: auto;
  margin-left: auto;" placeholder="Email address" required autofocus >

  <input type="text" name="username" id="inputUsername" style="text-align: center;display: block; margin-bottom: 10px;  margin-right: auto;
  margin-left: auto;" placeholder="Username" required>

  <input type="password" name="password1" id="inputPassword1" style="text-align: center;display: block; margin-bottom: 10px;  margin-right: auto;
  margin-left: auto;" placeholder="Password" required>

  <input type="password" name="password2" id="inputPassword2" style="text-align: center;display: block; margin-bottom: 10px;   margin-right: auto;
  margin-left: auto;"  placeholder="Confirm password" required >
        {% for field in registration_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if registration_form.non_field_errors %}
    <div style="color: red">
      <p>{{registration_form.non_field_errors}}</p>
    </div>
        </nav>

  {% endif %}
<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

</form>