<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% if request.user.is_authenticated %}
    <title>LOGOU</title>
      {% else %}
    <title>NAO LOGOU</title>
    {% endif %}

    {% if request.user.is_authenticated %}
        <p style="text-align: center"><a href="{% url 'home'%}">Home</a> |
            <a href="{% url 'account' %}"> Account </a> |
            <a href="{% url 'logout' %}">Logout</a></p>
    <h3 style="text-align: center;">Hello, {{request.user.username}} </h3>
    {% else %}
    <p style="text-align: center">
        <a href="{% url 'home'%}">Home</a> |
        <a href="{% url 'register' %}">Register</a> |
        <a href="{% url 'login' %}" >Login</a></p>
    {% endif %}
</head>
<body>
      {% if request.user.is_authenticated %}
    <h2 style="text-align: center">Página Do Usuário</h2>
       {% else %}
       <h2 style="text-align: center">Página Inicial</h2>
       {% endif %}
    <div style="border: 2px solid #000; text-align: center;">
    {% for account in accounts %}
        <p>{{account}}</p>
    {% endfor %}
    </div>

    {% block content %}
    {% endblock content %}


    <div style="border: 2px solid #000; text-align: center; margin-top: 5px">
        <h2 style="text-align: center;">Pessoas Cadastradas</h2>
        {% for pessoa in pessoas %}

            <li style="list-style-type: none;">
                <a href="{% url 'pessoaUpdate' pessoa.id %}" style="margin-right: 10px">
                {{ pessoa.nome }}
                </a>
                <a href="{% url 'pessoaDelete' pessoa.id %}"> Deletar </a>
            </li>
        {% endfor %}
        <a href="{% url 'pessoaCreate' %}"> Criar Novo</a>

    </div>
</body>
    <footer>
        <hr>
        <p style="text-align: center; COLOR: GREEN">Quando a vida lhe der limões, não faça limonada!! FIQUE PUTO E FAÇA ELA PEGAR DE VOLTA!  </p>
        <p style="text-align: center" >VINICIUS FREITAS</p>
    </footer>
</html>